@import "tailwindcss";

@theme{

    --color-background:#FFF8F7;
    --color-interbackground:#825158;
    --color-text:#514345;
    --font-Garamond:"Cormorant Garamond";
   
}
@layer base{
    h1{
        font-size: 1.255rem;
        line-height: 1.75rem;
        font-weight: 700;
    }
}

@utility flexCol{
    @apply flex flex-col  items-center;
}