@import "tailwindcss";

@theme{

    --color-background:#FFF8F7;
    --color-interbackground:#825158;
    --color-text:#514345;
    --font-Garamond:"Cormorant Garamond";
    --breakpoint-xs:340px;
    --breakpoint-xxs:238px;
    --color-borderColor:#D89CA4;
    --font-Inter:"Inter";
   
}
@layer base{
    h1{
        font-size: 2.5rem;
        line-height: 1.75rem;
        font-weight: 650;
    
   
    @variant max-md{
        font-size:2rem;
        font-weight: 600;

    }
    @variant max-xs{
        font-size:1.7rem;
        font-weight: 700;
        
    }
}

button{
    width:440px;
    padding :14px 0;
    border-radius: 16px;
    cursor: pointer;
    border:solid ;
    border-width: 1px;
    gap:5px;
    align-items: center;
    
   
    @variant max-sm{

 font-size: 0.713rem;
 font-weight:400;
    }
    @variant max-xs{
        
        font-size: 0.6rem;
    }
    @variant max-xxs{

        font-size: 0.5rem;
    }
    

}
input{
       width:440px;
      
       padding: 14px 15px;
    border-radius: 16px;
    cursor: pointer;
    border:solid ;
    border-width: 1px; 
    border-color:rgb(177, 173, 173);
   
    color:dimgrey;
    background-color:#FFFFFF;
}
    label{
        
        font-size: 15px;
    }
}
@utility flexCol{
    @apply flex flex-col  items-center;
   
}